@charset "utf-8";
/* CSS Document */



svg {
	background-color: #D5E3FF
}

.gratLines {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}
.map {
    border: medium solid #999;
	margin: 10px 0 0 20px;
}

.eCoastStates2 {
    fill: #FFF9F3;
    stroke: #C3C3C3;
    stroke-width: 1.5px;
}
.njcounties {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;	
}
.chart {
    background-color: #D5E3FF;
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}
.numbers {
    fill: black;
    font-family:serif;
	font-size: .65em;
	font-style: normal;
	font-weight: bold;
}
.chartTitle {
    font-family:serif ;
    font-size: 1em;
    font-weight: bold;
}
.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}
.highlighter {
	color: blue;
}
